@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ddf8ff;
  background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}


